<div *ngIf="isLoading" class="loading" @fade>Loading...</div>

<div class="container-list" *ngIf="!isLoading">
  <div class="list-items">
    <ul>
      <li *ngFor="let task of tasks | paginate: { itemsPerPage: itemsPerPage, currentPage: currentPage }">
        <app-task-item [task]="task" (complete)="onTaskComplete(task)"></app-task-item>
      </li>
    </ul>
  </div>
  <div class="list-img">
    <img src="./assets/images/71.jpg" alt="task-image">
  </div>
</div>

<pagination-controls (pageChange)="currentPage = $event"></pagination-controls>

